@font-face {
  font-family: Marker;
  src: url(../fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}

@font-face {
  font-family: Urbanist;
  src: url(../fonts/Urbanist/Urbanist-VariableFont_wght.ttf);
}

:root {
  --text-color: #222;
}

body {
  background-color: #000;
}

main {
  min-height: 100%;
  margin-top: calc(8vh + 2em);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  margin: auto;
  max-width: 1600px;
}

.element {
  flex-basis: calc(
    100% / 3 - 2em
  ); /* dividir el ancho del contenedor entre 3 */
  margin: 1em;
}

.element img {
  width: 100%;
}

.element p {
  text-align: center;
  margin-top: 5px;
}

h1.tft {
  font-family: "Marker";
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.8em;
}

p.description {
  font-family: "Urbanist";
  text-align: justify;
  color: var(--text-color);
  font-size: 1.15em;
}

.banner {
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: center;
  z-index: -1;
}

.banner_title {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}

.banner_stroked-title {
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.banner_image {
  border-radius: 20px;
  position: fixed;
  transform: rotate(-15deg);
  width: 450px;
}

.content {
  display: flex;
  flex-direction: column;
  float: bottom;
  background-color: #eaeaea;
  padding: 120px 80px;
  height: 100%;
}
