@font-face {
  font-family: Urbanist;
  src: url(../fonts/Urbanist/Urbanist-VariableFont_wght.ttf);
}

@font-face {
  font-family: Marker;
  src: url(../fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}

:root {
  --shadow-color: #c0c0c0;
  --text-color: #202020;
  --nav-bar-color: #303030;
  --nav-text-color: #f9f9f9;
  --nav-hover-color: #c84b31;
  --social-hover-color: #c84b31;
  --social-text-color: #202020;
  --body-background-color: #f9f9f9;
  --intro-color: #202020;
  --text-description-color: #303030;
  --button: url('../images/dark-mode-button.svg');
}

main {
  margin-top: 8vh;
  padding-top: 2em;
}

div.left {
  display: flex;
  justify-content: center;
  float: left;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
}

div.left img {
  display: block;
  margin: auto;
  max-width: 100%;
}

div.right {
  float: right;
  width: 70%;
  margin-right: 5%;
}